body {
	margin-top:205px;
	font-family: tahoma, Arial, sans-serif;
	background-color:#E3D4F1;
	color:#FFFFFF;
		}
		

header {
	top:0;
	position:absolute;
	width:100%;
	height:200px;
	background-image:url("/module9/header.png"), url("/img/square.png");
	background-color:#000000;
	background-position: top center;
	background-repeat: no-repeat, repeat;
		}
		
/*style the main menu*/
.myMenu {
	margin:0;
	padding:0;
}

.myMenu li {
	list-style:none;
	float:left;
	font:12px Arial, Helvetica, sans-serif #111;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:#09F;
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#111;
}

.myMenu li a:hover {
	background-color:#0CF;	
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}

		
/*#sidebar {
  	top: 500px;
  	margin-top:400px;
	background-color:#d7a6de;
  	left: 0px;
  	width: 200px;
  	height: 300px;
  	padding: 4px 4px 4px 4px;
  	border:1px solid white;
}*/
 
#content {
	 margin: 0 40px 40px 280px;
}
	
	
/* h1 {
	font-size:32px;
	color:#D61128;
	background-color:#BDF2EB;
	width: 100%;
	height: 100px;
	}
*/
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}
	
/* Navigation */
	
a.nav:link {
    color:#FFFFFF;
    text-decoration:none;
}

a.nav:visited {
	color:#FFFFFF;
}

a.nav:hover {
	color:#7DD9E7;
	text-decoration:none;
}

a.nav:active {
    color: #FFFFFF;
}

a.nav:clicked {
	color:#FFFFFF;
	text-decoration:none;
}

/* End Navigation */

a {
	text-decoration:underline;
	color:#000000;
	}
	
a:hover {
	color:#00ff00;
	}
	

footer {
	margin-top: 500px;
	font-size:12px;
        bottom:0;
	background-color: white;
	position:static;
	width:100%;
	height:50px;
	clear:both;
	
}
