/* THE BODY */

body {
  margin-top:205px;
  background-image:url("https://38.media.tumblr.com/db81ce5fc31ceba7064a0b4d481ccfb6/tumblr_ng15awZGGA1u3usoto4_r1_1280.jpg");
  background-color:#99284d;
  background-repeat:repeat-x;
  font-family: tahoma, Arial, sans-serif;
  color:#FFFFFF;
  text-align:center;
}

p.blankspace {
  position:relative;
  margin:0px;
  padding:0px;
  height:1000px;
  width:960px;
  top:247px;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  
}

#header {
  position:fixed;
  top:0px;
  left:auto;
  right:auto;
  width:100%;
  background-position:top center;
  background-image:url("https://38.media.tumblr.com/67656ff99efaa69676f436d695002682/tumblr_nfwtpmpGIF1u3usoto2_1280.png");
  background-repeat:no-repeat;
}

#nav {
  position:relative;
  margin-top:165px;
  display:inline-block;
  font-family:"Courier New", Courier, monospace;
  font-size:20px;
  text-decoration:none;
  font-family:'Verdana', Geneva, sans-serif;
  color:black;
  padding: 5px 5px 5px 5px;
}

#rightside {
  position:fixed;
  right:0px;
  top:30px;
  padding: 5px 5px 5px 5px;
}

p.intro {
  background-image:url("https://33.media.tumblr.com/3823e52359ec38bb40e88a2e3e502cb6/tumblr_ng1m6lm3F11u3usoto1_250.jpg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.sq1 {
  background-image:url("http://40.media.tumblr.com/d660b2d01ef74dec822a0a5735dad9d2/tumblr_n6gznttV5e1tdt7g1o1_400.png");
  margin-top:45px;
  margin-right:10px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.sq2 {
  background-image:url("http://41.media.tumblr.com/49eb85a6a24103b0331b292fdd88cf47/tumblr_n6itfzSVPQ1tdt7g1o1_400.png");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.sq3 {
  background-image:url("http://36.media.tumblr.com/f7dab2d18daa5858f88738c19ceb76ef/tumblr_n6gvrkARR81tdt7g1o1_400.png");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}


#leftside {
  position:fixed;
  left:0px;
  top:30px;
  padding: 5px 5px 5px 5px;
}

p.lintro {
  background-image:url("https://33.media.tumblr.com/22d94a3225f1d573cb81830576520330/tumblr_ng1lwrW1MO1u3usoto1_250.jpg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.lsq1 {
  background-image:url("https://31.media.tumblr.com/44ff49088a0dc9b36862f12e30919a38/tumblr_ng1lfcyBFx1u3usoto1_250.jpg");
  margin-top:45px;
  margin-right:10px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.lsq2 {
  background-image:url("https://33.media.tumblr.com/e580cd068bdc084e9b175e7614c19cac/tumblr_ng1lsymool1u3usoto1_250.jpg");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}

p.lsq3 {
  background-image:url("https://33.media.tumblr.com/0e796b43d84cd5e45c9a682178e65a51/tumblr_ng1m1ayhZE1u3usoto1_250.jpg");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position:center;
  width:160px;
  height:110px;
  border: 1px solid black;
  border-radius:30px;
  box-shadow: 5px 5px 2px black;
  
}





#box div > li {
  font-family:"Courier New", Courier, monospace;
  background:#afbcd5;
  color:black;
  width:120px;
  height:30px;
  border:1px solid black;
  box-shadow: 5px 5px 2px black;
  padding: 5px 5px 5px 5px;
  margin: 3px 60px 70px 70px;
  border-radius:5px;
}

#box2 div > li > ul {
  font-family:"Courier New", Courier, monospace;
  background:#afbcd5;
  color:black;
  border:1px solid black;
  box-shadow: 5px 5px 2px black;
  padding: 5px 5px 5px 5px;
  margin:5px 5px 5px 5px;
  border-radius:5px;
}

#content {
  margin:0 40px 40px 280px
}

#content ul {
  margin: 2px 0 22px 0px
}

h2 {
	font-size:32px;
	color:white;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}

/* Navigation */
	
a.nav:link {
    color:#899bc7;
    text-decoration:none; 
}

a.nav:visited {
	color:#FFFFFF; 
}

a.nav:hover {
	color:#899bc7;
	text-decoration:none; 
}

a.nav:active {
    color: #899bc7; 
}

a.nav:clicked {
	color:#FFFFFF;
	text-decoration:none; 
}

/* End Navigation */

a {
	text-decoration:underline;
	color:#000000;
	}
	
a:hover {
	color:#00ff00;
	}

<!-- SOOPERFISH STYLESHEET -->

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 220px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: center; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* Theming the menu */
ul#nav { 
  float: center;
}

ul#nav ul { 
  width:150px;
  text-align:center;
  margin-top: 0px;
  padding-bottom: 0px;
  font-size:16px;
}

ul#nav li a { 
  padding: 5px 5px 5px 5px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none ;
  color: black;
  margin: 2px 2px 2px 2px;
}

ul#nav li a:hover, ul#nav li a:focus { 
  color: #899bc7;
  text-shadow: none;
}

ul#nav ul li a { 
  color: black;
}

ul#nav ul li a:hover { 
  color: #C3E600;
  margin-right: 2px;
}

#footer {
	position:absolute;
	text-align:center;
	width:100%;
	left:0px;
	right:0px;
	bottom:0px;
	color:white;
  background-color:black;
	opacity:0.5;
}
