body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#000000;
	color:#FFFFFF;
	}
	
h1 {
	font-size:32px;
	color:#D61128;
	background-color:#EFD0F5;
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}

a {
	text-decoration:none;
	color:#FFFFFF;
	}
	
a:hover {
	color:#00ff00;
	}
