/* tell the browser to render HTML 5 elements as block */
nav{ 
  display:block;
}

body {
	margin-top:205px;
	font-family: tahoma, Arial, sans-serif;
	background-color:#E3D4F1;
	color:#FFFFFF;
	text-align:center;
		} 
		

header {
	top:0;
	position:absolute;
	width:100%;
	height:200px;
	background-image:url("/module9/header.png"), url("/img/square.png");
	background-color:#000000;
	background-position: top center;
	background-repeat: no-repeat, repeat;
		}
		
 nav {
	font-size:32px;
	position:relative;
	margin-top:140px;
	text-decoration: none;
	font-family: 'Droid Serif', serif;
	font-color: #FFFFFF;
	text-align:center;
	
}

leftbar {
	position:relative;
	float:left;
	top:0px;
	width:200px;
	height:500px;
	border:3px solid black;
	overflow:none;
}

rightbar {
	position:relative;
	float:right;
	top:0px;
	width:200px;
	height:500px;
	border:3px solid black;
	overflow:none;
}
 
#content {
	 margin: 0 40px 40px 280px;
}

#content ul { 
  margin: 2px 0 22px 0px;
}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}
	
/* Navigation */
	
a.nav:link {
    color:#FFFFFF;
    text-decoration:none; 
}

a.nav:visited {
	color:#FFFFFF; 
}

a.nav:hover {
	color:#7DD9E7;
	text-decoration:none; 
}

a.nav:active {
    color: #FFFFFF; 
}

a.nav:clicked {
	color:#FFFFFF;
	text-decoration:none; 
}

/* End Navigation */

a {
	text-decoration:underline;
	color:#000000;
	}
	
a:hover {
	color:#00ff00;
	}
	

/* footer {
	font-size:12px;
        bottom:0px;
	background-color: white;
	position:inherit;
	width:100%;
	height:50px;
	text-align:center;
	
} */

/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 220px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #222;
  margin-top: 0px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 12px 17px 6px 17px;
  font: 109% 'Droid Sans', arial, sans-serif;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus { 
  color: #C3E600;
  text-shadow: none;
}

ul#nav ul li a { 
  color: #FFF;
}

ul#nav ul li a:hover { 
  color: #C3E600;
  margin-right: 2px;
}
