@media screen and (min-device-width: 480px) {

	body {
		background-color:#b0c4de;
		font-size:12px;
		font-family: 'PT Serif', serif;
	}

	header {
		position:fixed;
		text-align:center;
		font-family: 'Zeyada', serif;
		font-style:italic;
		font-size:50px;
		width:100%;
		margin-top:-50px;
	}
	
	header::first-letter {
		position:fixed;
		font-size:200%;
		font-family: 'Arizonia', serif;
		background-color:white;
		color:black;
		border-radius:50%;
	}
	
	#topbar {
		position:fixed;
		width:100%;
		border-top:2px solid black;
		margin-top:-85px;
	}
	
	#navi ul {
		position:fixed;
		font-family: 'Architects Daughter', serif;
		font-size:20px;
		list-style-type:none;
		margin-top:-82px;
		text-align:center;
		width:100%;
		margin-left:47%;
	}
	
	#navi ul li {
		font-family: 'Architects Daughter', serif;
	}
	
	#navi ul li a {
		display:block;
		width:90px;
		color:black;
		text-decoration:none;
	}
	
	#bottombar {
		position:fixed;
		width:100%;
		height:3px;
		border-top:2px solid black;
		margin-top:-60px;
	}
	
	#info {
		position:fixed;
		float:left;
		height:500px;
		width:300px;
		border: 1px solid black;
	}
	
	article {
		position:fixed;
		float:right;
		height:500px;
		width:600px;
		border:1px solid black;
}

@media screen and (max-device-width: 480px) {

}
